{% extends 'base.html.twig' %}

{% block title %}A propos de dadch&amp;co ! {% endblock %}

 {% block description %}
        <meta name="description" content="Qui sommes-nous ? L’Agence d'études de marché Dadch &amp; Co, est une entreprise qui a été créée en vertu de la loi Sénégalaise sous le numéro de registre commerce : SN.DKR.2016.B.3528.">
  {% endblock %}
{% block body %}
<section class="full-height-baner h-70">
       <div class="empty-sp-lg-0 empty-sp-md-200 empty-sp-sm-200 empty-sp-xs-160"></div> 
        <div class="bg ready data-jarallax" data-jarallax="5" style="background-image:url(https://res.cloudinary.com/dadch-co-com/image/upload/v1588599239/dadch-co/service/service2_qbd7qi.jpg)"><div class="hold-layer-2"></div></div>
          <div class="main-baner vertical-align">
              <div class="container">
               <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <div class="title-style-6 type-1">
                    <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                     <span class="border-cube"><span class="t-l"></span><span class="c-l"></span><span class="b-l"></span></span>
                     <span class="sub-caption-line lg"><span class="left"></span> <span>dadch&amp;co</span> <span class="right"></span></span>
                      <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                       <h1 class="caption-1 color-1">A propos</h1>
                        <div class="empty-sp-sm-20 empty-sp-xs-10"></div>
                         <div class="simple-text size-2 color-1">
                             <p>Qui sommes-nous ? </p>
                         </div>
                         <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                     </div>  
                  </div>
               </div>  
              </div>
          </div>    
       <div class="empty-sp-lg-0 empty-sp-md-130 empty-sp-sm-200 empty-sp-xs-100"></div> 
    </section>
    <section class="section">
         <div class="empty-sp-lg-160 empty-sp-md-150 empty-sp-sm-0 empty-sp-xs-0"></div> 
          <div class="container">
                  <div class="col-lg-10 offset-lg-1 col-md-12">
                      <div class="about-item">
                         <div class="row vertical-wrap">
                             <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-no-padd wow fadeInUp">
                               <div class="image-square type-1">
                                 <div class="sq"></div>
                                 <div class="image">
                                   <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599231/dadch-co/service/1_fvjbov.png" alt="" class="img-full">
                                   
                                 </div>
                               </div> 
                               <div class="empty-sp-lg-0 empty-sp-md-100 empty-sp-sm-80 empty-sp-xs-80"></div>  
                            </div>
                            <div class="col-lg-5 offset-lg-1 col-md-12 col-sm-12 col-xs-12 col-no-padd wow fadeInUp">
                                 <div class="text">
                                    <div class="title-style-6 type-2">
                                     <span class="sub-caption-line lg"><span class="left"></span> <span>A propos</span> <span class="right"></span></span>
                                      <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                                       <h3 class="caption-3">Qui sommes nous ?</h3>
                                        <div class="empty-sp-sm-15 empty-sp-xs-15"></div>
                                        <div class="simple-text size-2 color-3">
                                             <p>
                                                L’Agence d'études de marché Dadch &amp; Co, est une entreprise qui a été créée en vertu de la loi Sénégalaise sous le numéro de registre commerce : SN.DKR.2016.B.3528, elle est membre d’une organisation Internationale regroupant des chercheurs à travers le monde entier ;  ESOMAR. Elle est enregistrée au niveau de la plateforme des fournisseurs de service “System for Award Management” (SAM) du Gouvernement des Etats -Unies sous le numéro, DUNS NUMBER 850527463 sous le référence “Commercial and Government Entity” (CAGE) de la Defense Logistics Agency (DLA) pour l'affectation ou la validation du (code: SGYJ1).
                                                <br><br>
                                                Dadch&amp;co MR offre un service complet d'enquêtes de recherche et d'opinion dans les pays d'Afrique de l'Ouest. L’agence est gérée par une équipe de professionnels dévoués ayant une expérience de recherche diversifiée au Sénégal et dans toute la sous-région Ouest-Africaine (Gambie, Mauritanie, Mali, Guinée Conakry - Bissau, Ghana, Kenya, Côte d'Ivoire, Burkina Faso, Bénin, Togo, Niger, Nigeria et le Congo Kinshasa). La spécialisation de l'Agence est née de plus de 12 ans d'expérience combinée dans la recherche et le conseil. L'expérience collective de l'équipe Dadch&amp;Co Market Research leur permet d'adapter les techniques de recherche aux besoins de leurs nombreux clients.
                                             </p>
                                        </div>
                                         <div class="empty-sp-sm-50 empty-sp-xs-30"></div>
                                         <div class="row">
                                             <div class="empty-sp-sm-40 empty-sp-xs-30"></div>
                                         </div>
                                     </div> 
                                 </div>
                             </div>
                         </div>
                         <div class="row vertical-wrap">
                            <div class="col-lg-5 offset-lg-1 col-md-12 col-sm-12 col-xs-12 col-no-padd wow fadeInUp">
                                 <div class="text">
                                    <div class="title-style-6 type-2">
                                     <span class="sub-caption-line lg"><span class="left"></span> <span>Suite</span> <span class="right"></span></span>
                                      <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                                        <div class="empty-sp-sm-15 empty-sp-xs-15"></div>
                                        <div class="simple-text size-2 color-3">
                                             <p>
                                                Nous avons fait un travail considérable pour le UNCDF, la Fondation Gate, BBC Afrique, l'OIM, la FAO, le PAM, la JHU, le GSMA, l'IFDC.
                                                <br><br>
                                                Les spécialités de Dadch&amp;Co Market Research comprennent la recherche documentaire, les études quantitatives et qualitatives, l'analyse statistique avancée et la recherche ethnographique- sociale personnalisée dans tous les domaines d'activités. 
                                                <br> Nous offrons des services dans les domaines suivants:
                                                <br><br>
                                                 <ul class="list-img type-3">
                                                    <li><i class="icon-dot"></i><span>Enquêtes auprès des ménages et des collectivités (B2C)</span></li>
                                                    <li><i class="icon-dot"></i><span>Enquêtes auprès des entreprises, institutions (B2B) </span></li>
                                                    <li><i class="icon-dot"></i><span>Suivi et évaluation d'impact (Baseline et Endline Survey);</span></li>
                                                    <li><i class="icon-dot"></i><span>Sondage d’opinion</span></li>
                                                </ul>
                                             </p>
                                             <p>
                                             
                                             </p>
                                        </div>
                                         <div class="empty-sp-sm-50 empty-sp-xs-30"></div>
                                         <div class="row">
                                             <div class="empty-sp-sm-40 empty-sp-xs-30"></div>
                                         </div>
                                     </div> 
                                 </div>
                            </div>
							<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-no-padd wow fadeInUp">
                               <div class="image-square type-1">
                                 <div class="sq"></div>
                                 <div class="image">
                                   <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599231/dadch-co/service/3_chwaor.jpg" alt="" class="img-full">
                                   
                                 </div>
                               </div> 
                               <div class="empty-sp-lg-0 empty-sp-md-100 empty-sp-sm-80 empty-sp-xs-80"></div>  
                            </div>
                         </div>
                      </div>
                  </div>
          </div> 
     </section>
     <section class="section overflow">
         <div class="container">
               <div class="row">
                    <div class="col-lg-12">
                    <div class="simple-text size-2 color-3 italic">
                    <p>
                    En outre, l'équipe de consultants est très professionnelle, s'adapte facilement aux tendances actuelles de l'industrie de la recherche, elle utilise plusieurs outils innovants exclusivement dédiés à la recherche qui améliorent l'efficacité et la compétence des consultants.
                    <br><br>
                    La politique de l’entreprise met l'accent sur des mesures rigoureuses de contrôle de la qualité tout au long du processus de la collecte de données en se référant aux normes, codes et éthiques définis par ESOMAR et la Chambre de commerce internationale (CCI). Ainsi, tout le personnel sera formé sur le strict respect de ses protocoles de qualité pour le bon déroulement et l'exécution de chaque projet.
                    </p>
                    <a href="https://world-research-alliance.com/items/dadch-senegal/" class="button-style-1 btn btn-primary type-2">Plus d'infos !</a>
                    </div>
                  </div>
                </div>
          </div>
     </section>
       <section class="section overflow">
        <div class="empty-sp-lgx-130 empty-sp-lg-100 empty-sp-md-80 empty-sp-sm-80 empty-sp-xs-50"></div>
           <div class="container">
               <div class="row vertical-wrap">
                    <div class="col-lg-6 hidden-md-down wow zoomIn">
                       <div class="about-image right wow zoomIn">
                                <div class="swiper-container pagination-padd" data-autoplay="3000" data-effect="slide" data-slides-per-view="1" data-loop="0" data-speed="800" data-center="0">
                                     <div class="swiper-wrapper">
                                         <div class="swiper-slide">
                                            <div class="image">
                                                <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599022/dadch-co/about/Esomar_qk8tx8.png" alt="" class="img-full img-sh">
                                            </div>
                                         </div>
                                         <div class="swiper-slide">
                                            <div class="image">
                                                <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599024/dadch-co/about/certificat-1_bxhicj.png" alt="" class="img-full img-sh">
                                            </div>
                                         </div>
                                         <div class="swiper-slide">
                                            <div class="image">
                                                <img src="https://res.cloudinary.com/dadch-co-com/image/upload/v1588599023/dadch-co/about/certificat2-1_qdjhps.png" alt="" class="img-full img-sh">
                                            </div>
                                         </div>
                                      </div>
                                      <div class="pagination dark pagination-type-1"></div>
                                 </div> 
                             </div>    
                   </div>
                   <div class="col-lg-6 wow zoomIn">
                      <div class="about-text">
                        <div class="title-style-4 border-style lg type-2 center">
                          <div class="title-separator"></div> 
                          <div class="empty-sp-sm-20 empty-sp-xs-20"></div>
                           <h3 class="caption-4">Affiliations : Réseaux ESOMAR</h3>
                            <div class="empty-sp-sm-10 empty-sp-xs-10"></div>
                             <div class="simple-text size-2 color-3">
                                 <p>
                                    Dadch&amp;co MR est membre Corporate au niveau de l’association ESOMAR depuis Décembre 2013.

                                    <br> Fondée en 1948, ESOMAR est une association professionnelle internationale qui rassemble 4000 membres dans 100 pays. Ces membres sont tous activement impliqués ou réellement concernée par les sciences du marketing, des études de marché et d'opinion, à un niveau international.

                                    <br> Le respect d'un Code International, conjointement édicté par ESOMAR et la Chambre de Commerce internationale, représente la garantie du haut niveau de professionnalisme de l'ensemble des membres de l'association.

                                 </p>
                             </div>
                             <div class="empty-sp-lg-50 empty-sp-md-30 empty-sp-sm-30 empty-sp-xs-30"></div>
                             <a href="https://www.linkedin.com/company/dadch-co-market-research-agency/about/?viewAsMember=true" class="button-style-1 btn btn-primary type-2">En savoir plus !</a>
                        </div>
                      </div>
                   </div>
               </div>
           </div>
            <div class="empty-sp-lgx-100 empty-sp-lg-100 empty-sp-md-80 empty-sp-sm-80 empty-sp-xs-70"></div>
     </section>     

{% endblock %}
  